body {
  width: max-content;
  margin: 6px;
  padding-bottom: 1rem;
  background: white;
}

header {
  display: flex;
  flex-direction: row;
  color: #A1C5FD;
  align-items: center;
  font-size: .8rem;
  font-weight: 800;
  line-height: .3rem;
}

.header__splitter {
  margin-inline: 15px;
  border-left: 1px solid #999;
}

.main {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 1rem;
}

.main_switch {
  display: flex;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  margin-top: 3px;
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 15px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: .1px;
  left: .1px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  background: #bada55;
}

input:checked+label:after {
  left: calc(100% - .1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 13px;
}