html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100%
}

* {
  box-sizing: border-box;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

:root {
  --bg-color-tile-1: #65abc1;
  --bg-color-tile-2: #E89C4B;
  --bg-color-tile-3: #9AB899;
  --bg-color-tile-4: #65abc1;
  --bg-color-tile-5: #E89C4B;
  --bg-color-tile-6: #F06808;
  --bg-color-tile-7: #E89C4B;
  --bg-color-tile-8: #65abc1;
  --bg-color-tile-9: #9AB899;
  --bg-color-tile-10: #E89C4B;
  --bg-color-tile-11: #9AB899;
  --bg-color-tile-12: #65abc1;
  --text-color-tile-1: #ffffff;
  --text-color-tile-2: #ffffff;
  --text-color-tile-3: #ffffff;
  --text-color-tile-4: #ffffff;
  --text-color-tile-5: #ffffff;
  --text-color-tile-6: #ffffff;
  --text-color-tile-7: #ffffff;
  --text-color-tile-8: #ffffff;
  --text-color-tile-9: #ffffff;
  --text-color-tile-10: #ffffff;
  --text-color-tile-11: #ffffff;
  --text-color-tile-12: #ffffff;
}

.chakra-form__required-indicator {
  display: none;
}